<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547518803970-ov8qn16tp3b6gmfncabdrnutpk7dd6o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547518803970-ov8qn16tp3b6gmfncabdrnutpk7dd6o2</string>
	<key>API_KEY</key>
	<string>AIzaSyCzp7HwzoZvPn1gj7fo4EERC1DNagbc0ro</string>
	<key>GCM_SENDER_ID</key>
	<string>547518803970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aishopcr.appdelivery</string>
	<key>PROJECT_ID</key>
	<string>aishop-391614</string>
	<key>STORAGE_BUCKET</key>
	<string>aishop-391614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547518803970:ios:1339203491d62a4958f71b</string>
	<key>DATABASE_URL</key>
	<string>https://aishop-391614-default-rtdb.firebaseio.com</string>
</dict>
</plist>